<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/head', { title: 'Авторизация' }); %>
  <body>
    <%- include('layouts/navbar', { navbar: page.navbar }); -%>
    <div class="container">
      <h2 class="text-center mt-5">
      Войдите через один из сервисов
      </h2>
      <div class="row mb-1">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <%- include('components/auth-button', { link: '/login/vk', title: 'Авторизоваться через vk.com', img: '/img/auth/logo-vk.png' }); -%>
        </div>
        <div class="col-md-2">
          <%- include('components/auth-button', { link: '/login/meetup', title: 'Авторизоваться через meetup.com', img: '/img/auth/logo-meetup-com.png' }); -%>
        </div>
        <div class="col-md-2">
          <%- include('components/auth-button', { link: '/login/timepad', title: 'Авторизоваться через timepad.ru', img: '/img/auth/logo-timepad.png' }); -%>
        </div>
        <div class="col-md-2">
          <%- include('components/auth-button', { link: '/login/yandex', title: 'Авторизоваться через Yandex', img: '/img/auth/logo-yandex.png' }); -%>
        </div>
      </div>
    </div>
    <%- include('layouts/footer'); -%>
  </body>
</html>
